<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Edit this job!</h3>
        {% if messages %}
            <ul class = 'messages'>
            {% for message in messages %}
            <li{% if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %} 
        <form action="{% url 'jobs:update' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="job_id" value="{{job_by_id.id}}">
            <label for="title">Job Title</label>
            <input type="text" name="title" value="{{job_by_id.title}}">
            <label for="description">Last Name</label>
            <textarea name="description" cols="30" rows="50">{{job_by_id.description}}</textarea>
            <label for="location">Location</label>
            <input type="text" name="location" value="{{job_by_id.location.address}}">
            <button type="submit">UPDATE</button>
        </form>
    </div>
    
</body>
</html>